// Definición de variables:
$color-primario: #132644;
$color-secundario: #E0FE68;
$color-fondo: #EDE6DC;
$fuente-principal: 'Nunito Sans', sans-serif;
$fuente-secundaria:'AntipastoPro_trial', sans-serif;

// Estilos generales (si los necesitas)
* {
    margin: 0;
    padding: 0;
}


.btn-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

