// Definición de variables:
$color-primario: #132644;
$color-secundario: #E0FE68;
$fuente-principal: 'Nunito Sans', sans-serif;
$fuente-secundaria: 'AntipastoPro_trial', sans-serif;


.login-container {
  background-color: $color-primario;
  border-radius: 30px;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: $fuente-principal;

  h1 {
    font-size: 4vh;
  }

  h3 {
    font-size: 1vh;
    font-weight: 300;
  }

  .logo {
    width: 70%;
  }

  .form-group {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* Aplicar box-sizing a .form-group */

    .email,
    .password {
      width: 70%;
      height: 3.8vh;
      font-family: $fuente-principal;
      font-size: 16px;
      background-color: transparent; /* Fondo transparente */
      border-top: none; /* Sin borde superior */
      border-left: transparent; /* Borde izquierdo transparente */
      border-right: transparent; /* Borde derecho transparente */
      border-bottom: 3px solid white;
      padding: 10px;
      border-radius: 2px;
      color: $color-secundario;
      max-width: 100%;
      flex-shrink: 0;
    }
    
    

    .login {
      padding: 8px 20px;
      font-family: $fuente-principal;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      color: white;
      border-radius: 10px;
      overflow: hidden;
      border-color: $color-secundario;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 20%;
        height: 10%;
        background: linear-gradient(120deg,
            transparent,
            var(--primary-color),
            transparent);
        transform: translateX(-100%);
        transition: 0.6s;
      }

      &:hover {
        background: transparent;
        box-shadow: 0 0 5px 2px #E0FE68;

        &::before {
          transform: translateX(100%);
        }
      }
    }


  }
}
