
<section class="login-container">
    <article>
        <img class="logo" src="../../../assets/bqblanco.png" alt="logo">
        <h1>Welcome</h1>
        <h3>Please, enter with your
        <br>own credentials</h3>
        
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="form-group">
                <input type="email" id="email" name="email" [(ngModel)]="user.email" required placeholder="Email">
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error-message">
                    Email is required
                </div>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="password" [(ngModel)]="user.password" required placeholder="Password">
                <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error-message">
                    Password is required
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
        

    </article>
</section>

