// Definición de variables:
$color-primario: #132644;
$color-secundario: #E0FE68;
$color-fondo: #EDE6DC;
$fuente-principal: 'Nunito Sans', sans-serif;
$fuente-secundaria:'AntipastoPro_trial', sans-serif;

body{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    

// Estilos para el encabezado
header {
    background-color: $color-primario;
    border-radius: 20px;
    width: 1295px;
    height: 96px;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
  
    // Estilos para la clase .barra dentro del encabezado
    .header {
      border-radius: 40px;
      color: white;
      flex: 1; /* Distribuye el espacio disponible */
      display: flex;
      align-items: center; /* Alinea verticalmente el contenido */
  
      // Estilos para imágenes dentro de la clase .barra
      img {
        width: 5vh;
        padding: 1%;
        flex-shrink: 0; /* Evita que la imagen se reduzca */
      }
  
      h1 {
        color: white;
        font-family: $fuente-secundaria;
        font-size: 38px;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0; /* Elimina el margen predeterminado */
        margin-left: 31% ;
        text-align: center; /* Alinea horizontalmente el texto */
      }
    }
  }

  main {
    justify-content: center;
  }
}